* {
  margin: auto;
  padding: auto;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url(img/backimg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
}
.row {
  margin-top: 50px;
}
.clock {
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.7);
  text-align: center;
  font-size: 50px;
}
/*TodoList*/
.todoli {
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  margin: 10px;
  list-style: none;
  font-size: 20px;
}
.remove {
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  height: 50px;
  color: #000;
}
.todobox {
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  text-align: left;
  margin: 10px;
  height: 50px;
  color: #000;
}
.todobtn {
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  height: 50px;
  color: #000;
}
.todo {
  border-radius: 5px;
  padding-right: 20px;
  height: 500px;
  background-color: rgb(255, 255, 255, 0.7);
  border-right: 0.5px solid #000;
  text-align: center;
}
/*Calculator*/
.casio {
  border-left: 0.5px solid #000;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.7);
  text-align: center;
  height: 500px;
}
.ScreenC {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  text-align: right;
  font-size: 25px;
  color: #000;
  height: 50px;
  margin-top: -9px;
}
.btnC {
  width: 70px;
  height: 70px;
  font-size: 25px;
  border-radius: 5px;
  margin: 5px;
  background-color: rgb(217, 189, 126);
  color: #000;
  border: 2px solid #000;
}
/*WordCountTool*/
.wordcount {
  border-right: 0.5px solid #000;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.7);
  text-align: center;
  height: 300px;
}
.wordbox {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  text-align: left;
  font-size: 25px;
  color: #000;
  height: 50px;
  margin-bottom: 15px;
}
.wordbtn {
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  height: 50px;
  color: #000;
}
/*MathAdditionApp*/
.mathadd {
  border-left: 0.5px solid #000;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.7);
  text-align: center;
  height: 300px;
}
.mathbox {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  text-align: right;
  font-size: 25px;
  color: #000;
  height: 50px;
}
.mathbtn {
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  height: 50px;
  color: #000;
}
.mathadd p {
  font-size: 25px;
}
/*Slider*/
.imgslider {

  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.7);
  text-align: center;
}
.mySlides {
  margin-bottom: 35px;
}
/*ContactForm*/
.contact {

  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.5);
  text-align: center;
  height: auto;
  margin-bottom: 50px;
}
.stored {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  text-align: left;
  font-size: 25px;
  color: #000;
}
.contactbtn {
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  height: 50px;
  color: #000;
}
.contactL {
  float: left;
}
.contactR {
  float: right;
}
.form {
  display: block;
  width: 100%
}
/*Footer*/
footer {
  color: #fff;
  background-color: #000;
}
.socialicon, a {
  margin: 5px;
  float: right;
  font-size: 30px;
  color: rgb(213, 174, 90);
}
